<h1>Listing disasters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%= @disasters %>
  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Disaster', new_disaster_path %>
