<%= form_for(@disaster_lister) do |f| %>
  <% if @disaster_lister.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disaster_lister.errors.count, "error") %> prohibited this disaster_lister from being saved:</h2>

      <ul>
      <% @disaster_lister.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
